$background-image-path: "/public/img/sonnig.png";
$background-image-icon: "/public/img/weather-icons.png";
$background-color: rgba(180, 180, 180, 0.336);
$margin-center: 0 auto;
$radius: 10px;
$sonnig: -140px -400px;
$bewolkt: -130px -280px;
$text-color: white;

body {
  margin: 0;
}

#weaterInformation {
  height: 100vh;
  width: 100%;
  background-image: url(#{$background-image-path});
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.weaterInformation__buttons {
  height: 50px;
  width: 100%;
  background-color: black;

  button {
    height: 100%;
    width: 50px;
  }
}

.mainView {
  height: 200px;
  text-align: center;
  margin: $margin-center;
  display: block;

  #CityName {
    text-align: left;
    margin-left: 20px;
    color: $text-color;
  }

  #img {
    height: 120px;
    width: 120px;
    background-position: $sonnig;
    background-image: url($background-image-icon);
    margin-left: 20px;
  }

  #temperature {
    margin-top: -110px;
    font-size: 35px;
    margin-left: -60px;
    color: $text-color;
  }

  #infoNew {
    color: $text-color;
    font-size: 20px;
    margin-top: -30px;
    margin-left: -70px;
  }

  #time {
    margin-top: -180px;
    font-size: 25px;
    color: $text-color;
    margin-left: 250px;
  }

  #highestanddeepest {
    color: $text-color;
    margin-left: 200px;
    font-size: 20px;
    margin-top: 40px;
  }
}

@mixin section-style {
  width: 90%;
  height: 150px;
  background-color: $background-color;
  margin: $margin-center;
  border-radius: $radius;
  text-align: center;
}

#courseOfDay {
  @include section-style;
}

#prediction {
  @include section-style;
}

#moreInfo {
  @include section-style;
  height: 200px;
  margin-top: 20px;
}
